<link rel="stylesheet" href="style.css">
<footer id="footer">
    <img
      src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-footer.svg"
      alt=""
    />
    <div id="f1">
      <img src="/images/logo final.jpg" alt="Company Logo" />
    </div>
    <div id="f2">
      <a href="https://www.instagram.com" target="_blank">
        <h2><i class="fa-brands fa-square-instagram"></i> Instagram</h2>
      </a>
      <a href="https://www.discord.com" target="_blank">
        <h2><i class="fa-brands fa-discord"></i> Discord</h2>
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <h2><i class="fa-brands fa-square-x-twitter"></i> Twitter</h2>
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <h2><i class="fa-brands fa-linkedin"></i> LinkedIn</h2>
      </a>
    </div>
    <div id="f4">
      <h4>
        Sector 43, <br><br>
        Aravalli Hills, <br><br>
        Delhi -Surajkund Road, <br><br>
        121004, Faridabad, <br><br>
        Haryana, India
      </h4>
    </div>
  </footer>