<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

    </style>
</head>
<body>
    <% if (success) { %>
        <div class="alert alert-success">
          <%= success %>
        </div>
      <% } %>
      
      <% if (error) { %>
        <div class="alert alert-danger">
          <%= error %>
        </div>
      <% } %>      
</body>
</html>