<% layout("/layouts/boilerplate.ejs") %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <div id="main">
    <div id="page1">
      <h1 id="hack-utsav">HACK UTSAV</h1>
      <h2>#UNLOCK_THE_SECRETS_UNCOVER_THE_TREASURE</h2>
      <h3 id="date">30th August 2024 | 24hr Hackathon</h3> <br> 
      <h3 id="clg">Manav Rachna International Institute of Research and Studies</h3>
    </div>



    <div id="page2">
      <div id="scroller">
        <div id="scroller-in">
          <h4>Cryptic Hunt</h4>
          <h4>Cryptic Hunt</h4>
          <h4>Cryptic Hunt</h4>
          <h4>Cryptic Hunt</h4>
        </div>
        <div id="scroller-in">
          <h4>Cryptic Hunt</h4>
          <h4>Cryptic Hunt</h4>
          <h4>Cryptic Hunt</h4>
          <h4>Cryptic Hunt</h4>
        </div>
      </div>


      <div id="page3" style="margin-top: 6rem;">
        <p>
          Get ready to solve the conquest to uncover the hidden treasure and win it all. <br>
          Only the Sharpest Minds Will See the Light. <br>
          So Hunter are you ready to embark on this journey to the hidden treasure braving all the odds?? 
         
        </p>
        <img id="colon1" src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-left.svg"
          alt="" />
        <img id="colon2" src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-right.svg"
          alt="" />
      </div>

      <div id="spacer"></div>



      <div id="special-guests-section">
        <div id="about-us-in">
          <h3>SPECIAL GUESTS</h3>
          <p></p>
        </div>

        <div id="about-us">
          <div class="card-container">
            <a href="https://www.linkedin.com/in/gauravggupta/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              target="_blank" class="guest-link">
              <img src="https://res.cloudinary.com/dd6kfzjlh/image/upload/v1723180707/gaurav_dghabc.jpg" alt="Dr. Gaurav Gupta" class="guest-card" />
            </a>
            <div class="guest-info">
              <h4 class="guest-name">Dr. Gaurav Gupta</h4>
              <p>Digital Forensics Expert | Ministry of Electronics and IT</p>
              <p>Director/Scientist 'F' @Cyber Security R&D in Ministry of Electronics & IT, Govt of India</p>
            </div>
          </div>

          <!-- <div class="card-container">
            <a href="https://www.linkedin.com/in/rohitsardana/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              target="_blank" class="guest-link">
              <img src="/images/rohit.png" alt="Mr. Rohit Sardana" class="guest-card" />
            </a>
            <div class="guest-info">
              <h4 class="guest-name">Mr. Rohit Sardana</h4>
              <p>CO-Founder & CEO - Reskill, Incubate IND</p>
              <p>Business Head - BW Disrupt & Digital Market Asia</p>
            </div>
          </div> -->

          <div class="card-container">
            <a href="https://www.linkedin.com/in/dr-ankur-arora-75989915/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              target="_blank" class="guest-link">
              <img src="https://res.cloudinary.com/dd6kfzjlh/image/upload/v1723180704/ankur_fju0sx.jpg" alt="Dr. Ankur Arora" class="guest-card" />
            </a>
            <div class="guest-info">
              <h4 class="guest-name">Dr. Ankur Arora</h4>
              <p>Vice President - AI and Data Science</p>
              <p>AI Garage at Mastercard</p>
            </div>
          </div>
        </div>
      </div>



    <div style="display: flex; justify-content: center; align-items:center; width: 100%; height: 100%;">
      <video style="width: 80%; height: 50%; position: relative; z-index: 12; border: 2px solid white; border-radius: 15px;" controls autoplay muted src="https://res.cloudinary.com/dd6kfzjlh/video/upload/v1723181755/video2_bgxbg4.mp4"></video>
    </div>


      <div class="pri fade-in-scroll">
        <h1>PRIZES</h1>
        <h1>Exciting prizes worth: ₹2,00,000</h1>
      </div>


      <div id="page4" style="margin-top:70px;">
        <div class="prize first fade-in-scroll">
          <h2 data-prize="1st">1st</h2>
          <div class="details fade-in-scroll">

            <h3 id="prize-amt"> ₹50,000</h3>
            </p>
          </div>
        </div>
        <div class="prize second fade-in-scroll">
          <h2 data-prize="2nd">2nd</h2>
          <div class="details fade-in-scroll">

            <h3 id="prize-amt"> ₹30,000</h3>
            </p>
          </div>
        </div>
        <div class="prize third fade-in-scroll">
          <h2 data-prize="3rd">3rd</h2>
          <div class="details fade-in-scroll">

            <h3 id="prize-amt"> ₹20,000</h3>
            </p>
          </div>
        </div>
      </div>

      <div id="green-div" style="margin-top: 5rem;">
        <img src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg" />
        <h4>WHAT ARE YOU WAITING FOR? <br><br><a class = "register-now fade-in-scroll"href="/HackUtsav/Registration">Register Now!!</a>  </h4>
        <img src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg" />
      </div>
    </div>


    <div class="team-section fade-in-scroll">
      <div class="team fade-in-scroll">
        <h2>Our Team Members</h2>
      </div>
    
      <div class="cards-wrapper">
        <div class="card-container fade-in-scroll" id="card1-container">
          <a style="text-decoration: none;" href="https://www.linkedin.com/in/sanidhyachauhan2003?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">
            <div class="card" id="card1">
              <div class="overlay">
                <h4>Vice President</h4>
              </div>
            </div>
          </a>
          <div class="name">
            <h4>Sanidhya Chauhan<br>(Vice President)</h4>
          </div>
        </div>
    
        <div class="card-container fade-in-scroll" id="card2-container">
          <a style="text-decoration: none;"  href="https://www.linkedin.com/in/haider-abdi/">
            <div class="card" id="card2">
              <div class="overlay">
                <h4>Vice President</h4>
              </div>
            </div>
          </a>
          <div class="name">
            <h4>S.M.Haider<br>(Vice President)</h4>
          </div>
        </div>
    
        <div class="card-container fade-in-scroll" id="card3-container">
          <a style="text-decoration: none;" href="https://www.linkedin.com/in/suryansh-goyal-a5b086248?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
            <div class="card" id="card3">
              <div class="overlay">
                <h4>Management Head</h4>
              </div>
            </div>
          </a>
          <div class="name">
            <h4>Suryansh Goyal<br>(Management Head)</h4>
          </div>
        </div>
    
        <div class="card-container fade-in-scroll" id="card4-container">
          <a style="text-decoration: none;" href="https://www.linkedin.com/in/aayush-saini-37487a24a/">
            <div class="card" id="card4">
              <div class="overlay">
                <h4>Website Team Head</h4>
              </div>
            </div>
          </a>
          <div class="name">
            <h4>Ayush Saini<br>(Website Team Head)</h4>
          </div>
        </div>
    
        <div class="card-container fade-in-scroll" id="card5-container">
          <a style="text-decoration: none;" href="https://www.linkedin.com/in/ayush-tyagi-4b628624b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
            <div class="card" id="card5">
              <div class="overlay">
                <h4>Website Team Head</h4>
              </div>
            </div>
          </a>
          <div class="name">
            <h4>Ayush Tyagi<br>(Website Team Head)</h4>
          </div>
        </div>
    
        <div class="card-container fade-in-scroll" id="card6-container">
          <a style="text-decoration: none;" href="https://www.linkedin.com/in/puneet-kumar-989499254?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
            <div class="card" id="card6">
              <div class="overlay">
                <h4>Marketing Head</h4>
              </div>
            </div>
          </a>
          <div class="name">
            <h4>Puneet Kumar<br>(Marketing Head)</h4>
          </div>
        </div>
    
        <div class="card-container fade-in-scroll" id="card7-container">
          <a style="text-decoration: none;" href="https://www.linkedin.com/in/ritika-chaudhary-rc">
            <div class="card" id="card7">
              <div class="overlay">
                <h4>Graphic Team Head</h4>
              </div>
            </div>
          </a>
          <div class="name">
            <h4>Ritika<br>(Graphic Team Head)</h4>
          </div>
        </div>
    
        <div class="card-container fade-in-scroll" id="card8-container">
          <a style="text-decoration: none;" href="https://www.linkedin.com/in/nazara-parween-334ba0254?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
            <div class="card" id="card8">
              <div class="overlay">
                <h4>Graphic Team Head</h4>
              </div>
            </div>
          </a>
          <div class="name">
            <h4>Nazara<br>(Graphic Team Head)</h4>
          </div>
        </div>
      </div>
    </div>
    



    <!-- footer in footer.ejs -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"
      integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"
      integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      var crsr = document.querySelector("#cursor");
      var blur = document.querySelector("#cursor-blur");

      document.addEventListener("mousemove", function (dets) {
        crsr.style.left = dets.x + "px";
        crsr.style.top = dets.y + "px";
        blur.style.left = dets.x - 250 + "px";
        blur.style.top = dets.y - 250 + "px";
      });


      // Align the cursor with mouse for smooth transition

      const cursor = document.getElementById('cursor');
      const cursorBlur = document.getElementById('cursor-blur');

      document.addEventListener('mousemove', (e) => {
        const { clientX: x, clientY: y } = e;

        // Use requestAnimationFrame to ensure smooth and synchronized animation
        requestAnimationFrame(() => {
          cursor.style.left = `${x}px`;
          cursor.style.top = `${y}px`;
          cursorBlur.style.left = `${x}px`;
          cursorBlur.style.top = `${y}px`;
        });
      });

      // Event listener for Team button to scroll into team members section

      const teamButton = document.getElementById('team-button');

      teamButton.addEventListener('click', function (event) {
        event.preventDefault(); // Prevent default anchor behavior

        // Scroll smoothly to the team section
        const teamSection = document.querySelector('.team');
        teamSection.scrollIntoView({ behavior: 'smooth' });
      });

      var h4all = document.querySelectorAll("#nav h4");
      h4all.forEach(function (elem) {
        elem.addEventListener("mouseenter", function () {
          crsr.style.scale = 3;
          crsr.style.border = "1px solid #fff";
          crsr.style.backgroundColor = "transparent";
        });
        elem.addEventListener("mouseleave", function () {
          crsr.style.scale = 1;
          crsr.style.border = "0px solid #95C11E";
          crsr.style.backgroundColor = "#95C11E";
        });
      });
      document.addEventListener('DOMContentLoaded', function () {
        // Create an intersection observer instance
        const observer = new IntersectionObserver(entries => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              entry.target.classList.add('in-view');
            } else {
              entry.target.classList.remove('in-view');
            }
          });
        }, { threshold: 0.1 }); // Adjust threshold as needed

        // Observe the elements with the class 'fade-in-scroll'
        document.querySelectorAll('.fade-in-scroll').forEach(element => {
          observer.observe(element);
        });
      });


      gsap.to("#nav", {
        backgroundColor: "#000",
        duration: 0.5,
        height: "110px",
        scrollTrigger: {
          trigger: "#nav",
          scroller: "body",
          start: "top -10%",
          end: "top -11%",
          scrub: 1,
        },
      });

      gsap.to("#main", {
        backgroundColor: "#000",
        scrollTrigger: {
          trigger: "#main",
          scroller: "body",
          // markers: true,
          start: "top -25%",
          end: "top -70%",
          scrub: 2,
        },
      });

      gsap.from("#about-us img,#about-us-in", {
        y: 90,
        opacity: 0,
        duration: 1,
        scrollTrigger: {
          trigger: "#about-us",
          scroller: "body",
          start: "top 70%",
          end: "top 65%",
          scrub: 1,
        },
      });
      gsap.from(".card", {
        scale: 0.8,
        duration: 1,
        stagger: 0.1,
        scrollTrigger: {
          trigger: ".card",
          scroller: "body",
          start: "top 70%",
          end: "top 65%",
          scrub: 1,
        },
      });
      gsap.from("#colon1", {
        y: -70,
        x: -70,
        scrollTrigger: {
          trigger: "#colon1",
          scroller: "body",
          start: "top 55%",
          end: "top 45%",
          scrub: 4,
        },
      });
      gsap.from("#colon2", {
        y: 70,
        x: 70,
        scrollTrigger: {
          trigger: "#colon1",
          scroller: "body",
          start: "top 55%",
          end: "top 45%",
          scrub: 4,
        },
      });
      gsap.from("#page4 h1", {
        y: 50,
        scrollTrigger: {
          trigger: "#page4 h1",
          scroller: "body",
          // markers:true,
          start: "top 75%",
          end: "top 70%",
          scrub: 3,
        },
      });
    </script>
  </body>
</html>
