<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hack Utsav</title>
    <link
      rel="shortcut icon"
      href="https://sidcupfamilygolf.com/wp-content/themes/puttosaurus/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css" />

  </head>

  <body>


    <!-- NAVBAR -->
    <div id="nav">
      <img
        src="/images/clg_logo.png"
        alt=""
      />
      <h4>home</h4>
      <h4>Team</h4>
      <h4>Contact</h4>
      <h4><a href="/HackUtsav/Registration" style="text-decoration: none;">Register</a></h4>
    </div>



    <!-- CURSOR FOR BLUR -->
    <div id="cursor"></div>
    <div id="cursor-blur"></div>


    <!-- BACKGROUND VIDEO -->
    <video
      autoplay
      loop
      muted
      src="/videos/Hunt 2 (online-video-cutter.com).mp4"
    ></video>




    <div id="main">
      <div id="page1">
        <h1>HACK UTSAV</h1>
        <h2>#UNLOCK_THE__UNCOVER_THE_TREASURE</h2>
        <!-- <div id="arrow">
          <i class="ri-arrow-down-line"></i>
        </div> -->
      </div>



      <div id="page2">
        <div id="scroller">
          <div id="scroller-in">
            <h4>Cryptic Hunt</h4>
            <h4>Cryptic Hunt</h4>
            <h4>Cryptic Hunt</h4>
            <h4>Cryptic Hunt</h4>
          </div>
          <div id="scroller-in">
            <h4>Cryptic Hunt</h4>
            <h4>Cryptic Hunt</h4>
            <h4>Cryptic Hunt</h4>
            <h4>Cryptic Hunt</h4>
          </div>
        </div>
        <div id="about-us">
          <img
            src="/images/coming.jpg"
            alt=""
          />
          <div id="about-us-in">
            <h3>SPECIAL GUEST</h3>
            <p></p>
          </div>
          <img
            src="/images/coming.jpg"
            alt=""
          />
        </div>


        <div class="team"><h2>Our Team Member</h2></div>


        <div id="cards-container-r1">
          <div class="card" id="card1">
            <div class="overlay">
              <h4> Vice president </h4>
              <!-- <p><a href="https://www.linkedin.com/in/aayush-saini-37487a24a/"><i class="fa-brands fa-linkedin"></i></a></i></p> -->
            </div>
          </div>
          <div class="card" id="card2">
            <div class="overlay">
              <h4> Vice president </h4>
              <p>
              </p>
            </div>
          </div>
          <div class="card" id="card3">
            <div class="overlay">
              <h4> Management Head </h4>
              <p>
              </p>
            </div>
          </div>
        </div>




        <div id="cards-container-r2">
          <div class="card" id="card1">
            <div class="overlay">
              <h4>Coding Team Head</h4>
              <p>
              </p>
            </div>
          </div>
          <div class="card" id="card2">
            <div class="overlay">
              <h4>Coding Team Head</h4>
              <p>
              </p>
            </div>
          </div>
          <div class="card" id="card3">
            <div class="overlay">
              <h4>Marketing <br>& <br> Sponsorship head</h4>
              <p>
              </p>
            </div>
          </div>
        </div>




        <div id="cards-container-r3">
          <div class="card" id="card1">
            <div class="overlay">
              <h4>Graphic Team Head</h4>
              <p>
              </p>
            </div>
          </div>
          <div class="card" id="card2">
            <div class="overlay">
              <h4>Graphic Team Head</h4>
              <p>
              </p>
            </div>
          </div>

        </div>










        
       <div id="green-div">
          <img src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"/>
          <h4>WHAT ARE YOU WAITING FOR <br> Registr Now </h4>
          <img src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"/>
        </div>
      </div>

      <br><br><br><br><br><br><br><br><br><br>

      <div id="page3">
        <p>
          Excellent couple of hours, relax and enjoy in the fun. Staff were
          accommodating, friendly and very helpful. Café on site for
          refreshments etc. Will keep children enterntained during the holidays.
          Worth a visit if you havent been.
        </p>
        <img
          id="colon1"
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-left.svg"
          alt=""
        />
        <img
          id="colon2"
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-right.svg"
          alt=""
        />
      </div> 

      <div id="spacer"></div>

      <div class="pri">
        <h1>PRIZES</h1>
      </div>


      <div id="page4" style="margin-top:70px;">
        <div class="prize first">
          <h2 data-prize="1st">1st</h2>
          <div class="details">
            <!-- Add details for the 1st prize here -->
            <p>The Team Which Will Win The Competion Get a Cash Prize of <h3>45K</h3></p>
          </div>
        </div>
        <div class="prize second">
          <h2 data-prize="2nd">2nd</h2>
          <div class="details">
            <!-- Add details for the 2nd prize here -->
            <p>The Runner up Team Will Get a Cash Prize of <h3>30K</h3></p>
          </div>
        </div>
        <div class="prize third">
          <h2 data-prize="3rd">3rd</h2>
          <div class="details">
            <!-- Add details for the 3rd prize here -->
            <p>The Third Team  Will Get a Cash Prize of <h3>15K</h3></p>
          </div>
        </div>
      </div>
      

      
      <div id="footer">
        <img
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-footer.svg"
          alt=""
        />
        <div id="f1">
          <img
            src="/images/logo2.jpg"
            alt=""
          />
        </div>
        <div id="f2">
          <h2><i class="fa-brands fa-square-instagram"></i>Instagram</h2>
          <h2><i class="fa-brands fa-discord"></i>discord</h2>
          <h2><i class="fa-brands fa-square-x-twitter"></i> Twitter</h2>
          <h2><i class="fa-brands fa-linkedin"></i> Linkdin</h2>
        </div>
        <div id="f4">
          <h4>
            Sector 43, <br><br>
             Aravalli Hills, <br> <br>
             Delhi -Surajkund Road, <br> <br>
             121004 , Faridabad , <br> <br>
             Haryana , India
          </h4>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"
      integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"
      integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
var crsr = document.querySelector("#cursor");
var blur = document.querySelector("#cursor-blur");

document.addEventListener("mousemove", function (dets) {
  crsr.style.left = dets.x + "px";
  crsr.style.top = dets.y + "px";
  blur.style.left = dets.x - 250 + "px";
  blur.style.top = dets.y - 250 + "px";
});

var h4all = document.querySelectorAll("#nav h4");
h4all.forEach(function (elem) {
  elem.addEventListener("mouseenter", function () {
    crsr.style.scale = 3;
    crsr.style.border = "1px solid #fff";
    crsr.style.backgroundColor = "transparent";
  });
  elem.addEventListener("mouseleave", function () {
    crsr.style.scale = 1;
    crsr.style.border = "0px solid #95C11E";
    crsr.style.backgroundColor = "#95C11E";
  });
});

gsap.to("#nav", {
  backgroundColor: "#000",
  duration: 0.5,
  height: "110px",
  scrollTrigger: {
    trigger: "#nav",
    scroller: "body",
    start: "top -10%",
    end: "top -11%",
    scrub: 1,
  },
});

gsap.to("#main", {
  backgroundColor: "#000",
  scrollTrigger: {
    trigger: "#main",
    scroller: "body",
    // markers: true,
    start: "top -25%",
    end: "top -70%",
    scrub: 2,
  },
});

gsap.from("#about-us img,#about-us-in", {
  y: 90,
  opacity: 0,
  duration: 1,
  scrollTrigger: {
    trigger: "#about-us",
    scroller: "body",
    start: "top 70%",
    end: "top 65%",
    scrub: 1,
  },
});
gsap.from(".card", {
  scale: 0.8,
  duration: 1,
  stagger: 0.1,
  scrollTrigger: {
    trigger: ".card",
    scroller: "body",
    start: "top 70%",
    end: "top 65%",
    scrub: 1,
  },
});
gsap.from("#colon1", {
  y: -70,
  x: -70,
  scrollTrigger: {
    trigger: "#colon1",
    scroller: "body",
    start: "top 55%",
    end: "top 45%",
    scrub: 4,
  },
});
gsap.from("#colon2", {
  y: 70,
  x: 70,
  scrollTrigger: {
    trigger: "#colon1",
    scroller: "body",
    start: "top 55%",
    end: "top 45%",
    scrub: 4,
  },
});
gsap.from("#page4 h1", {
  y: 50,
  scrollTrigger: {
    trigger: "#page4 h1",
    scroller: "body",
    // markers:true,
    start: "top 75%",
    end: "top 70%",
    scrub: 3,
  },
});
    </script>
  </body>
</html>