<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../style.css">
    <title>Register Now</title>
</head>

<body class="registration-body">
    <div class="main-navbar">
        <div class="navbar" id="nav">
            <img src="/images/clg_logo.png" alt="" />

            <h4><a href="/HackUtsav" style="text-decoration: none;">Home</a></h4>

            <h4><a href="#" class="contact-link" id="contact-button" style="text-decoration: none;">Contact</a></h4>

        </div>
    </div>
    <section id="form-section" >
        <div class="main-form">
            <div class="login-box">
                <form id="registrationForm" method="POST" action="/HackUtsav"
                    onsubmit="return confirmSubmission(event)">
                    <h2 id="form-header">Register Now!</h2>

                    <div class="input-box">
                        <span class="icon"><ion-icon name="people"></ion-icon></span>
                        <select name="members" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                        <label for="members">Team Members (1-2): </label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
                        <input type="text" name="teamname" required>
                        <label for="teamname">Team Name </label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><ion-icon name="chevron-forward-circle"></ion-icon></span>
                        <input type="text" name="college" required>
                        <label for="college">College Name</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
                        <input type="text" name="name1" required>
                        <label for="name1">Name of member 1</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" name="email1" required>
                        <label for="email1">Email of member 1</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><ion-icon name="call"></ion-icon></span>
                        <input type="number" name="contact1" min="10" max="10" required>
                        <label for="contact1">Contact Number of member 1</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
                        <input type="text" name="name2">
                        <label for="name2">Name of member 2</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" name="email2">
                        <label for="email2">Email of member 2</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><ion-icon name="call"></ion-icon></span>
                        <input type="number" name="contact2">
                        <label for="contact2">Contact number of member 2</label>
                    </div>

                    <div class="upi-box">
                        <p class="upi-para">Scan to pay: </p><br>
                        <img class="upi-image" src="/images/UPI.jpg" alt="#">
                    </div>

                    <div class="input-box">
                        <span class="icon"><ion-icon name="chevron-forward-circle"></ion-icon></span>
                        <input type="text" name="upiPaymentId" required>
                        <label for="upiPaymentId">Enter your UPI payment ID </label>
                    </div>

                    <button type="submit" class="submit">Submit</button>

                </form>
            </div>
        </div>

    </section>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>





    <footer id="footer">
        <img src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-footer.svg" alt="" />
        <div id="f1">
            <img src="/images/logo final.jpg" />
        </div>

        <div id="f2">
            <h2><i class="fa-brands fa-square-instagram"></i> <a href="https://www.instagram.com/hackutsav_mriirs/"
                    style="text-decoration: none;"> Instagram </a></h2>
            <h2><i class="fa-brands fa-discord"></i><a href="https://discord.com/invite/XPKfwau49s"
                    style="text-decoration: none;"> Discord </a></h2>
            <h2><i class="fa-brands fa-square-x-twitter"></i><a href="https://www.instagram.com/hackutsav_mriirs/"
                    style="text-decoration: none;"> Twitter </a></h2>
            <h2><i class="fa-brands fa-linkedin"></i><a href="https://www.instagram.com/hackutsav_mriirs/"
                    style="text-decoration: none;"> LinkedIn</a></h2>
        </div>

        <div id="f4">
            <h4>
                Sector 43, <br><br>
                Aravalli Hills, <br><br>
                Delhi -Surajkund Road, <br><br>
                121004, Faridabad, <br><br>
                Haryana, India
            </h4>
        </div>

        <div id="f5">
            <h4>
                <div class="contact-item">
                    <ion-icon id="call-icon" name="call"></ion-icon>
                    <p id="footer-heading">Contact us:</p>
                </div>
                <br>
                <div class="contact-item">
                    <ion-icon id="user-icon" name="person-circle-outline"></ion-icon>
                    <div class="contact-details">
                        <p id="suryansh-goyal">Suryansh Goyal</p>
                        <p id="suryansh-contact">+917217720834</p>
                    </div>
                </div>
                <br>
                <div class="contact-item">
                    <ion-icon id="user-icon" name="person-circle-outline"></ion-icon>
                    <div class="contact-details">
                        <p id="sanidhya-chauhan">Sanidhya Chauhan</p>
                        <p id="sanidhya-contact">+917291819052</p>
                    </div>
                </div>
            </h4>
        </div>


    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>
        function confirmSubmission(event) {
            // Show a confirmation dialog
            if (confirm("Are you sure you want to submit?")) {
                return true;
            } else {
                // Prevent form submission
                event.preventDefault();
                return false;
            }
        }
        document.addEventListener('DOMContentLoaded', () => {
            const inputs = document.querySelectorAll('.input-box input');
            const upiPara = document.querySelector('.upi-para');
            const upiImage = document.querySelector('.upi-image');
            const upiBox = document.querySelector('.upi-box');

            // function to add scroll event animation for upi image:
            function checkPosition() {
                const rect = upiBox.getBoundingClientRect();
                const windowHeight = window.innerHeight || document.documentElement.clientHeight;

                if (rect.top <= windowHeight && rect.bottom >= 0) {
                    upiBox.classList.add('show');
                } else {
                    upiBox.classList.remove('show');
                }
            }

            window.addEventListener('scroll', checkPosition);
            checkPosition();

            inputs.forEach(input => {
                input.addEventListener('input', () => {
                    if (input.value.trim() !== '') {
                        input.classList.add('has-value');
                    } else {
                        input.classList.remove('has-value');
                    }
                });

                // Check initial value on page load
                if (input.value.trim() !== '') {
                    input.classList.add('has-value');
                }
            });
        });
        const contactButton = document.getElementById('contact-button');

        contactButton.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent default anchor behavior

            // Scroll smoothly to the bottom of the page (footer)
            window.scrollTo({
                top: document.body.scrollHeight,
                behavior: 'smooth'
            });
        });

    </script>
</body>

</html>